.layout {
  margin-inline: auto;
  max-width: 100%;
  padding-block: calc(var(--base-spacing) * 6);
  padding-inline: calc(var(--base-spacing) * 3);
  width: var(--layout-width, 640px);
}

.main {
  margin-block-start: calc(var(--base-spacing) * 6);
}
